altgraph
asgiref
certifi
charset-normalizer
crispy-bootstrap4
darkdetect
Django
django-crispy-forms
django-filter
django-widget-tweaks
docutils
idna
packaging
pefile
Pillow
pywin32-ctypes
requests
setuptools
six
sqlparse
tzdata
urllib3

