{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <style type="text/css">
    	div.create-post {
    		margin-bottom: 10px;
    	}
     @media only screen and (max-width: 800px) {
          #allPosts.active {
              display: none;
          }
          img.profile {
              width: 150px !important;
          }
          div.right-side {
              display: none;
          }
          header {
              padding-left: 15px;
          }
          div.content {
              grid-template-columns: repeat(1, 1fr);
          }
          div.menu.active {
              display: block;
          }
          
          div.create-post {
              margin: 0px;
          }
          div.menu {
              display: none;
              position: static;
              width: 100px;
          }
          div.posts-container.active {
              display: none;
          }
          div.post-button.active {
              display: none;
          }
          div.post-button {
              display: flex;
          }
          div.posts-container {
              padding-left: 3px;
              padding-right: 3px;
              display: grid;
          }
          
          p.content {
              padding-left: 10px;
          }
          div.posts {
              border-radius: 4px;
          }
          div.content {
              padding: 0px;
/*                  justify-items: center;*/
          }
          div.content * {
              width: auto;
          }
          div.home {
              padding-left: 7px;
              padding-right: 7px;
              margin: 0px;
          }
          div.add-new {
              display: none;
              margin-left: 3px;
              margin-right: 3px;
          }
          @media only screen and (max-width: 580px) {
          
          }
            
    </style>

    <div class="create-post" id="allPosts">
        <h2>Delete post</h2>
	   		<form method="POST" class="add-todo" id="delete_form">
					{% csrf_token %}
					<button type="submit" class="submit">Delete</button>
					<a class="cancel" href="{% url 'home' %}">Cancel</a>
				</form>
    </div>

    <script type="text/javascript">
        function previewImage(event) {
            var input = event.target;
            var preview = document.getElementById('image-preview');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.innerHTML = '<img class="profile" src="' + e.target.result + '">';
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        var message = document.getElementById('message');
        var alert = document.getElementById('alert');
        var topProfile = document.getElementById('top-profile');
        var allPosts = document.getElementById('allPosts');
        var menu = document.getElementById('menu');

        topProfile.addEventListener('click', () => {
            menu.classList.toggle('active')
            allPosts.classList.toggle('active')
            add.classList.toggle('active')
        });
        message.addEventListener('click', () => {
            alert.classList.add('hide')
        });
        
    </script>
{% endblock content %}
