{% extends "main/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
	{% block content %}
		<style type="text/css">
			div.comment-image {
				border-radius: 5px;
				width: 200px;
				height: 200px;
				margin-top: 5px;
				max-width: 200px;
				box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1);
				display: flex;
				flex-direction: column;
				background-color: black;
				max-height: 200px;
				position: relative;
				left: 10px;
				align-items: center;
				justify-content: center;
				overflow: hidden;
			}
			div.comment-image img {
				max-width: 100%;
				width: 100%;
			}
			#image-preview {
				width: 200px;
				height: auto;
				border-radius: 8px;
				margin-top: 6px;
				/* box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1); */
				/* position: absolute; */
				overflow: hidden;
			}
			#image-preview img{
				width: 200px;
				height: auto;
			}
			input[type="file"] {
				display: none;
			}
			label.add-image {
				color: black;
				cursor: pointer;
				text-align: center;
				align-items: center;
				justify-content: center;
				align-self: center;
			}
			label.add-image i {
				position: relative;
				right: 5px;
				top: 4px;
			}
			@media only screen and (max-width: 800px) {
				label.add-image i {
					right: 12px;
				}
			}
			div.comments-wrapper section span {
				font-size: 10px;
				font-weight: 600;
			}

			div.share label {
				cursor: pointer;
			}
		  #copy_link:hover {
		  	cursor: pointer;
		  }
			div.likes {
				margin-top: -10px;
			}
			form.like button {
				background-color: transparent;
				border: none;
				cursor: pointer;
				outline: none;
			}
			img.comment-profile {
				height: 45px;
				width: 45px !important;
				margin-right: 8px;
			}
			div.add-comment div {
				display: grid;
				gap: 2px;
				grid-template-columns: 1fr .05fr .2fr;
			}
			div.add-comment div textarea {
				padding: 12px;
				border-radius: 20px;
				width: 105%;
			}
			div.add-comment button {
				width: 100%;
				border-radius: 20px;
			}
			div.home {
				padding-top: 0px;
				max-height: 100vh;
				overflow-y: scroll;
   				margin-bottom: 10px;
			}

			@media only screen and (max-width: 800px) {
				div.home::-webkit-scrollbar {
					display: none;

				}
			}
			div.posts-container {
				padding-top: 0px;
				margin-top: 10px;
				height: auto !important;
				max-height: auto !important;
				overflow: none;
			}
			div.posts {
				margin-top: 0px;
			}
			div.content {
				grid-template-columns: .4fr .9fr .3fr;
			}
			/* header {
				background-color: ;
			} */
			/*div.comment div.like {
				margin-right: 100px;
			}*/
			div.post-image {
				width: 100%;
				display: grid;
				margin-bottom: 10px;
				box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .2);
				grid-template-columns: repeat(1, 1fr);
				align-items: center;
				text-align: center;
				justify-content: center;
				justify-items: center;
			}
			div.post-image img {
				max-width: 100%;
			}
			div.user p {
				padding-top: 10px;
			}

			h2.feed {
				font-weight: 700;
				font-size: 23px;
				font-family: 'kanit';
				margin-left: 20px;
			}
			div.post-button {
/*				width: 170px;*/
/*				height: 70px;*/
				position: fixed;
				display: none;
				text-align: center;
				align-items: center;
				justify-items: center;
				bottom: 35px;
				right: 20px;
				background-color: black;
				border-radius: 40%;
				padding: 17px;
				color: white;
				cursor: pointer;
				background-color: rgba(24, 16, 180, 1);
				box-shadow: 0px 0px 8px 1px rgba(24, 16, 180, .5);
			}
			a.comment {
				text-decoration: none;
				color: black;
				cursor: pointer;
			}
			a.comment label {
				cursor: pointer;
			}
			@media only screen and (max-width: 800px) {
				div.right-side {
					display: none;
				}

				header {
					padding-left: 15px;
				}
				div.content {
					grid-template-columns: repeat(1, 1fr);
				}
				div.menu.active {
					display: block;
				}


				div.menu {
					display: none;
					position: static;
					width: 100px;
				}
				div.home.active {
					display: none;
				}
				div.post-button.active {
					display: none;
				}
				div.post-button {
					display: flex;
				}
				/* div.posts-container {
					padding-left: 3px;
					padding-right: 3px;
					display: grid;
				} */

				p.content {
					padding-left: 0px;
				}
				div.posts {
					border-radius: 4px;
					max-width: 100vw;
				}
				div.content {
					padding: 0px;
/*					justify-items: center;*/
				}
				div.content * {
					width: auto;
				}
				div.home {
					padding-left: 7px;
					padding-right: 7px;
					margin: 0px;
				}
				div.add-new {
					display: none;
					margin-left: 3px;
					margin-right: 3px;
				}
				@media only screen and (max-width: 580px) {
					div.posts-container {
						padding-left: 0px;
						padding-right: 0px;
						display: grid;
					}
					div.home {
						padding-left: 0px;
						padding-right: 0px;
						margin: 0px;
					}
					div.posts {
						border-radius: 0px;
/*						margin-top: 5px;*/
					}
				}
			}
		</style>
		<div class="home" id="allPosts">
			<div class="posts-container">
				<div class="posts">
					<div class="author">
						{% if post.author.Profile_picture %}
							<a href="{% url 'user-profile' post.author.user.username %}"><img src="{{ post.author.Profile_picture.url }}"></a><h2 class="author"><a class="post-author" href="{% url 'user-profile' post.author.user.username %}">{{ post.author.full_name }}{% if post.author.verified %}<img class="verified" src="{% static 'main/verified.png' %}">{% endif %}</a><br><span class="date">{{ post.date_posted }}</h2>
						{% else %}
							<a href="{% url 'user-profile' post.author.user.username %}"><img src="{% static 'main/default.jpg' %}"></a><h2 class="author"><a class="post-author" href="{% url 'user-profile' post.author.user.username %}">{{ post.author.full_name }}{% if post.author.verified %}<img class="verified" src="{% static 'main/verified.png' %}">{% endif %}</a><br><span class="date">{{ post.date_posted }}</h2>
						{% endif %}
					</div>
					<!-- <hr class="post"> -->
					<p class="content">{{ post.content|linebreaksbr|urlize|safe }}</p>
					{% if post.Post_image %}
						<div class="post-image"><img class="post-image" src="{{ post.Post_image.url }}"></div>
					{% endif %}<hr>
					<div class="likes" style="display: none;">
						{% if post.total_likes == 1 or post.total_likes == 0 %}
							<label><a href="{% url 'liked-post' post_id=post.id %}">{{ post.total_likes }} Like</a></label>&nbsp;&nbsp;&nbsp;<label><a href="{% url 'post-detail' pk=post.pk username=post.author.user.username %}">{{ post.num_comments }} Comments</a></label>
						{% else %}
							<label><a href="{% url 'liked-post' post_id=post.id %}">{{ post.total_likes }} Likes</a></label>&nbsp;&nbsp;&nbsp;<label><a class="comment1" href="{% url 'post-detail' pk=post.pk username=post.author.user.username %}">{{ post.num_comments }} Comments</a></label>
						{% endif %}
					</div>
					<!-- .......... -->
					<div class="comment" style="display: flex; justify-content: space-around; align-items: center; padding: 10px 0;">
						<div class="like" id="like-wrapper-{{ post.pk }}" style="display: flex; align-items: center;">
							<form class="like like-form" data-post-id="{{ post.pk }}" method="POST" action="{% url 'like-post' post.id %}" style="display: inline;">
								{% csrf_token %}
								{% if user.is_authenticated %}
									{% if user in post.likes.all %}
										<button type="submit" style="background-color: transparent; border: none; cursor: pointer; padding: 5px; display: flex; align-items: center;">
											<svg width="22" height="22" viewBox="0 0 24 24" style="fill: #e0245e; stroke: #e0245e; stroke-width: 1;">
												<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
											</svg>
										</button>
									{% else %}
										<button type="submit" style="background-color: transparent; border: none; cursor: pointer; padding: 5px; display: flex; align-items: center;">
											<svg width="22" height="22" viewBox="0 0 24 24" style="fill: none; stroke: currentColor; stroke-width: 2;">
												<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
											</svg>
										</button>
									{% endif %}
								{% endif %}
							</form>
							<span id="like-count-{{ post.pk }}" style="font-size: 14px; margin-left: 5px;">
								{{ post.likes.count }}
							</span>
						</div>
					
						<div style="display: flex; align-items: center;">
							<a class="comment" href="{% url 'post-detail' pk=post.pk username=post.author.user.username %}" style="text-decoration: none; display: flex; align-items: center;">
								<svg width="22" height="22" viewBox="0 0 24 24" style="fill: none; stroke: currentColor; stroke-width: 2;">
									<path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path>
								</svg>
								<span style="font-size: 14px; margin-left: 5px;">{{ post.num_comments }}</span>
							</a>
						</div>
					
						<div class="share" id="copy_link" onclick='copy("https://stacks.pythonanywhere.com/posts/{{ post.pk }}/{{ post.author.user.username }}", "{{ post.pk }}")' style="cursor: pointer; display: flex; align-items: center;">
							<svg width="22" height="22" viewBox="0 0 24 24" style="fill: none; stroke: currentColor; stroke-width: 2;">
								<path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
								<polyline points="16 6 12 2 8 6"></polyline>
								<line x1="12" y1="2" x2="12" y2="15"></line>
							</svg>
							<input type="text" value="" id="urlCopy" style="display: none;">
							<span class="urlAlert" id="urlAlert-{{ post.pk }}" style="font-size: 12px; margin-left: 5px; display: none; color: #1DA1F2;">Link copied!</span>
						</div>
					</div>
					<hr>
					<div class="add-comment">
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="hidden" name="post_id" value="{{ post.pk }}">
							<!-- {{ comment_form|crispy }} -->
							<div>
								{{ comment_form.content|attr:"placeholder:Post a comment"|attr:"rows:1" }}
								<label class="add-image" for="id_comment_image"><i class="fas fa-image"></i></label>
								{{ comment_form.comment_image|attr:"onchange:previewImage(event)" }}
								<button class="submit" type="submit"><i class="fas fa-paper-plane"></i></button>
								<div id="image-preview"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="comments-container">
				<h2>Comments</h2>
				{% for comment in post.comments.all %}
					<div class="comments-wrapper">
						<div class="comment-profile" id="image-com">
							{% if comment.user.profile.Profile_picture %}
							<a href="{% url 'user-profile' comment.user.username %}"><img class="rounded-circle comment-profile" src="{{ comment.user.profile.Profile_picture.url }}"></a>
							{% else %}
								<img class="rounded-circle comment-profile" src="{% static 'main/default.jpg' %}">
							{% endif %}
						</div>
						<section class="comment" id="comment-{{ comment.id }}">
							<h2><a href="{% url 'user-profile' comment.user.username %}">{{ comment.user.profile.full_name }}</a>&nbsp;<span>{{ comment.date_commented|timesince }} ago</span></h2>
							<p>{{ comment.content|linebreaksbr|urlize|safe }}</p>
						</section>
					</div>
					{% if comment.comment_image %}
						<div class="comment-image"><img class="" alt="comment image" src="{{ comment.comment_image.url }}"></div>
					{% endif %}
					<!-- <label for=""><a href="">Reply</a></label> -->
				{% empty %}
					<p>no comment</p>
				{% endfor %}

			</div>

		</div>
		<script type="text/javascript">
			var topProfile = document.getElementById('top-profile');
			var allPosts = document.getElementById('allPosts');
			var menu = document.getElementById('menu');
			var add = document.getElementById('post-button');
			topProfile.addEventListener('click', () => {
				menu.classList.toggle('active')
				allPosts.classList.toggle('active')
				add.classList.toggle('active')
			});

			function previewImage(event) {
            var input = event.target;
            var preview = document.getElementById('image-preview');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.innerHTML = '<img class="profile" src="' + e.target.result + '">';
                };

                reader.readAsDataURL(input.files[0]);
              }
            }
		</script>
		<script>
			function applyDynamicMargin() {
				const element1 = document.getElementById('image-com');
				const element2s = document.querySelectorAll('.comment-image');

				const width = element1.getBoundingClientRect().width;
				element2s.forEach(element2 => {
					element2.style.marginLeft = `${width}px`;
				});
			}

			// Apply margin on initial load
			applyDynamicMargin();

			// Apply margin on window resize
			window.addEventListener('resize', applyDynamicMargin);
		</script>

	{% endblock content%}

