<!DOCTYPE html>
<html>
<head>
    <title>Welcome Back</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">
    <div style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border: 1px solid #dddddd;">
        <div style="text-align: center; margin-bottom: 20px;">
            <img src="https://stacks.pythonanywhere.com/static/main/logo.png" alt="Welcome Back" style="max-width: 100%; height: auto; border: none;">
        </div>
        <h1 style="color: #333333;">Welcome Back!</h1>
        <p style="color: #666666; line-height: 1.6;">We miss you on our site. Where have you been?😥 <br>Come back and check out what's new!</p>
        <a href="https://stacks.pythonanywhere.com" style="display: inline-block; padding: 10px 20px; margin-top: 20px; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px;">Visit Now</a>
    </div>
</body>
</html>
